@font-face {
    font-family: 'AkzidenzGroteskBlack';
    src: url('fonts/akzidenzgrotesk-black-webfont.eot');
    src: url('fonts/akzidenzgrotesk-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/akzidenzgrotesk-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'norwester';
    src: url('fonts/norwester.otf');

    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'OswaldBook';
  src: url('./oswald-fontfacekit/Oswald-Regular-webfont.eot');
  src: url('./oswald-fontfacekit/Oswald-Regular-webfontIe.eot') format('embedded-opentype'),
   url('./oswald-fontfacekit/Oswald-Regular-webfont.woff') format('woff'), 
   url('./oswald-fontfacekit/Oswald-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
