@font-face {
    font-family: 'OswaldLight';
    src: url('fonts/Oswald-Light-webfont.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'OswaldBook';
  src: url('fonts/oswald-fontfacekit/Oswald-Regular-webfont.eot');
  src: url('fonts/oswald-fontfacekit/Oswald-Regular-webfontIe.eot') format('embedded-opentype'),
   url('fonts/oswald-fontfacekit/Oswald-Regular-webfont.woff') format('woff'), 
   url('fonts/oswald-fontfacekit/Oswald-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'norwester';
    src: url('fonts/norwester.otf');

    font-weight: normal;
    font-style: normal;
}
