html,body{ margin: 0; min-height: 620px;}

.yellow{ color: yellow;}
.green{ color: green;}

/*slider*/
.slider{width: 100%; min-height: 620px; position: relative;background-repeat: no-repeat;
  background-attachment: fixed; overflow: hidden;}
/*slider1*/
#slider1{ background-image: url(../images/bg1.jpg);}
/*slider2*/
#slider2{ background-image: url(../images/bg2.jpg);}
/*slider3*/
#slider3{ background-image: url(../images/bg3.jpg);}
/*slider3*/
#slider4{ background-image: url(../images/bg4.jpg);}

@media all and (max-width:640px){
 .slider{background-size: auto 140%;}
}
@media all and (min-width:640px){
  .slider{background-size: cover;}
}


/*intr*/
.intr{ max-width: 810px; background: rgba(0,0,0,0.7); border-radius:  10px; overflow: hidden;}
/*intr word*/

.intr-title{ color: white; font-family: "norwester",Lucida, sans-serif;}
.intr-word{ color: #ba9; font-size: 16px; margin: 0 0 35px; font-family: "norwester",Lucida, sans-serif;}
@media all and (max-width:880px){
  .intr{margin: 40px;}
  .face-box-wrap{margin: 30px auto;}
  .intr-words-wrap{display: block; margin: 0 20px; text-align: center;}
  .intr-title{ margin: 10px 0px; font-size: 24px;}
}
@media all and (min-width:880px){
  .intr{margin: 150px auto;}
  .face-box-wrap{ margin: 30px; float: left;}
  .intr-words-wrap{ margin: 30px 0; float:left;}
  .intr-title{ margin: 10px 0; font-size: 46px;}
}


/*face box*/
.face-box-wrap{ 
    width: 230px; height: 180px; position: relative;
}
.face-box{
  width:160px; height: 60px;line-height:60px; text-align: center; position: absolute; left: 35px;

  transform-style:preserve-3d;
  transform-origin:50% 50% 80px;

  -ms-transform-style:preserve-3d;     /* IE 9 */
  -ms-transform-origin:50% 50% 80px;    /* IE 9 */

    -moz-transform-style:preserve-3d;
    -moz-transform-origin:50% 50% 80px;

    -webkit-transform-style:preserve-3d;
    -webkit-transform-origin:50% 50% 80px;

}
#face-top{
    top: 0px;
}
#face-mid{ 
    top: 60px;
}
#face-bottom{ 
    top: 120px;
}
#face-top ul li{ background-position: left top;}
#face-mid ul li{ background-position: left center;}
#face-bottom ul li{ background-position: left bottom;}

.face-box ul{ list-style: none;}
.face-box ul li{ position: absolute; width: 160px; height: 60px; left: 0; top: 0;}
.face-box ul li:nth-of-type(1){
  background: url(../images/faceColor/face1.jpg) no-repeat;
  background-size: cover;

  transform: rotateY(-180deg);
  transform-origin:50% 50%;

  -ms-transform: rotateY(-180deg);     /* IE 9 */
  -ms-transform-origin:50% 50%;     /* IE 9 */

    -moz-transform-origin:50% 50%;
    -moz-transform:rotateY(-180deg);

    -webkit-transform-origin:50% 50%;
    -webkit-transform:rotateY(-180deg);
}
.face-box ul li:nth-of-type(2){
    background: url(../images/faceColor/face2.jpg) no-repeat;
  background-size: cover;

  transform: rotateY(-90deg);
  transform-origin:left;

  -ms-transform: rotateY(-90deg);     /* IE 9 */
  -ms-transform-origin:left;     /* IE 9 */

    -moz-transform-origin:left;
    -moz-transform:rotateY(-90deg);

    -webkit-transform-origin:left;
    -webkit-transform:rotateY(-90deg);
}
.face-box ul li:nth-of-type(3){
    background: url(../images/faceColor/face3.jpg) no-repeat;
  background-size: cover;

  transform: rotateY(90deg);
  transform-origin:right;

  -ms-transform: rotateY(90deg);     /* IE 9 */
  -ms-transform-origin:right;     /* IE 9 */

    -moz-transform-origin:right;
    -moz-transform:rotateY(90deg);

    -webkit-transform-origin:right;
    -webkit-transform:rotateY(90deg);
}
.face-box ul li:nth-of-type(4){
    background: url(../images/faceColor/face4.jpg) no-repeat;
  background-size: cover;

  transform: translateZ(160px);

  -ms-transform: translateZ(160px);     /* IE 9 */

    -moz-transform:translateZ(160px);

    -webkit-transform:translateZ(160px);
}
/*end face box*/


/*wrap-text*/
.wrap-text{ max-width: 810px; margin: 0 auto; }

.wrap-intr{ margin: 0 20px; font-family: "OswaldLight"; text-decoration: none;}
.wrap-intr h2{ font-size: 48px; margin: 0; padding: 40px 0 20px;}
.wrap-intr p{ font-size: 16px; line-height: 30px; margin: 0px; padding: 15px 0; text-decoration: none;}
.wrap-intr p span.big{ font-size: 26px; font-weight: bold;}

/* product-slider-wrap */
.product-slider-wrap{ position: relative; margin: 0 auto; max-width: 840px;}

.product-wrap{ margin: 0 auto; overflow: hidden;}
@media all and (max-width:540px){
  .product-wrap{ width: 270px;}
}
@media all and (min-width:540px )and (max-width: 810px){
  .product-wrap{ width: 540px;}
}
@media all and (min-width:810px){
  .product-wrap{ width: 810px;}
}
#product{ position: relative; height: 620px; left: 0; top: 0;}
#arrow_left{ position: absolute; left: 10px; top: 50%; width: 50px; height: 50px; margin-top: -25px; background-color: #000; cursor: pointer;}
#arrow_right{ position: absolute; right: 10px; top: 50%; width: 50px; height: 50px; margin-top: -25px; background-color: #000; cursor: pointer;}

.product-con{ float: left; padding-top: 60px;}
.product-item{ display: block; position: relative; width: 246px; height: 180px; border: 2px solid #000; margin: 0px 10px 120px;}
.product-title{ position: absolute; width: 250px; line-height: 26px; height: 52px; text-align: center; top: 190px; left: 0; color: #000; font-size: 20px; font-family: "OswaldLight";}


