<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1"/>
  <title>OS of javascript</title>
</head>
<link href="../resources/css/fontface.css" type="text/css" rel="stylesheet" />
<link href="../resources/css/layout.css" type="text/css" rel="stylesheet" />
<link href="../resources/css/main.css" type="text/css" rel="stylesheet" />
<link href="../resources/css/app.css" type="text/css" rel="stylesheet" />

<body>
	
<section class="screen loading-screen">
	<h2 class="g-content"><span class="big">OS</span> of Javascript</h2>
	<b class="center-b"></b>
</section>

<section class="screen main-screen">
	<div class="g-list">
		
	</div>
	<div class="g-list-bar">
		
	</div>
	
	<div class="g-footer">
		<button class="u-home-btn">
			<div class='u-home-btn-cover'></div>
		</button>
	</div>
	
	<div class="g-process-management">
		<div class="u-process-list">
			
		</div>
	</div>

</section>

<script type="text/javascript" src="../resources/js/util.js"></script>
<script type="text/javascript" src="../global.js"></script>
<script type="text/javascript" src="../controller/process_controller.js"></script>
<script type="text/javascript" src="../controller/app_controller.js"></script>
<script type="text/javascript" src="../controller/list_controller.js"></script>
<script type="text/javascript" src="../controller/core_controller.js"></script>

</body>

</html>