html,body{ margin: 0; height: 100%; font-family: "Helvetica"; background-color: #031646;}
p,h2{ margin: 0;}

body>section{ height: 100%; overflow: hidden; position: relative;}

.sec-wrap{ height: 100%; transition:-webkit-transform 300ms ease-out,margin 300ms ease-out; -webkit-transition:-webkit-transform 300ms ease-out,margin 300ms ease-out;}
.sec-wrap .sec1,.sec-wrap .sec2{ height: 100%; background: url("../images/game1-bg.jpg") repeat-y; background-size: 100%;}
.sec1 #pic-slider{ max-height: 90%; overflow: hidden; transition:-webkit-transform 300ms ease-out,margin 300ms ease-out; -webkit-transition:-webkit-transform 300ms ease-out,margin 300ms ease-out;}
.sec1 #pic-slider img{ float: left;}
.scorll-hint{cursor: pointer;}
.sec1 .scorll-hint{position: absolute; left: 50%; width: 30px; margin-left: -15px; bottom: 30px; border: none;
-webkit-animation: hintAnimationBottom .5s ease-in-out infinite;}
.sec1 .scorll-hint-words{ position: absolute; left: 50%; text-align: center; width: 300px; margin-left: -150px; bottom: 12px; font-size: 16px; color: #fff;}

@-webkit-keyframes hintAnimationBottom{
	0%{bottom: 30px; opacity: 1;}
	100%{bottom: 45px; opacity: 0;}
}

.sec2 .face-wrap{ padding-top: 6%; height: 30%; text-align: center;}
.face-wrap #face-img{ height:100%; border: 1px solid #324269;}
.sec2 .face-question-wrap{ margin-top: 6%; height: 8%; text-align: center; background-color: #324269;}
.face-question-wrap .face-question{ display: inline-block; color: #fff; font-size: 18px; vertical-align: middle;}
.face-question-wrap b{display: inline-block; height: 100%; vertical-align: middle;}

.sec2 .face-choose-wrap{height: 45%; margin-top: 5%; overflow: hidden;}
.face-choose-wrap .choose-item{ float: left; width: 50%; height: 16%; text-decoration: none; text-align: center;}
.face-choose-wrap .choose-item.anHide{-webkit-animation: btnHide .5s ease-in-out;}
.choose-item span{ display: inline-block; font-size: 16px; color: #fff; vertical-align: middle;}
.choose-item b{display: inline-block; height: 100%; vertical-align: middle;}
.choose-item.item1{background-color: rgb(104,63,37);}
.choose-item.item2{background-color: rgb(207,129,60);}
.choose-item.item3{background-color: rgb(232,203,75);}
.choose-item.item4{background-color: rgb(140,158,79);}
.choose-item.item5{background-color: rgb(64,110,140);}
.choose-item.item6{background-color: rgb(185,42,86);}
.choose-item.item7{background-color: rgb(185,42,86);}
.choose-item.item8{background-color: rgb(64,110,140);}
.choose-item.item9{background-color: rgb(140,158,79);}
.choose-item.item10{background-color: rgb(232,203,75);}
.choose-item.item11{background-color: rgb(207,129,60);}
.choose-item.item12{background-color: rgb(104,63,37);}

@-webkit-keyframes btnHide{
	0%{ opacity: 1;}
	100%{ opacity: 0;}
}

.aside{display: none;}