
.app-window{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 90px;
	opacity: 0; 
	display: none;
	
	transition: opacity .4s ease-in-out;
	-webkit-transition: opacity .4s ease-in-out;
}

.app-window.show{
	opacity: 1;
}
