/* loading-screen */
.loading-screen{
	z-index: 999;
	background-image: url(../images/loaingBg.jpg);
	background-size: 100% 100%;
	text-align: center;
}

.loading-screen .g-content{
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 20px;
	font-family: "OswaldBook",Helvetica,sans-serif;
}
@media only screen and (min-width: 480px) {
	.loading-screen .g-content{
		font-size: 40px;
	}
}

/* main-screen */
.main-screen{
	background-image: url(../images/appBg.jpg);
	background-size: 100%;
	z-index: 100;
	text-align: center;
}


.g-list{
	display: block;
	position: relative;
	margin-top: 30px;
	padding: 0 10px;
	overflow: hidden;
}
.m-slide{
	position: absolute;
	left: 10px; top: 0; right: 10px; bottom: 0;
	
}

.g-item{
	float: left;
	cursor: pointer;
	position: relative;
	margin: 2% 2% calc(2% + 20px);
	width: 21%; height: 0;
	padding-bottom: 21%;
}
.g-item-icon{
	position: absolute; 
	top: 0; left: 0;
	width: 100%;
}
.g-item-icon-cover{
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	padding-bottom: 100%;
	border-radius: 15px;
	
	background-color: rgba(100,100,100,.5);
	opacity: 0;
	transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}
.g-item-icon-cover.show{
	opacity: 1;
}
.g-item-title{
	position: absolute; 
	top: 100%; left: 0;
	width: 100%; height: 20px; line-height: 20px;
	overflow: hidden;
	text-align: center;
	word-break: break-all;
	font-size: 12px;
}

@media only screen and (min-width: 480px) {

	.g-item{
		width: 120px;
		height: 120px;
		margin: 10px 10px 40px;
		padding: 0;
	}
	.g-item-title{
		height: 30px;  line-height: 30px;
		font-size: 16px;
	}
	.g-item-icon-cover{
		border-radius: 26px;
	}
}

.g-list-bar{
	position: absolute; left: 0; right: 0; bottom: 90px;
	line-height: 30px;
}
.g-list-bar-icon{
	display: inline-block;
	width: 8px; height: 8px;
	margin: 0 2px;
	background-color: #e0e0e0;
	border-radius: 50%;
}
.g-list-bar-icon.ative{
	background-color: #fff;
}

.g-footer{
	position: absolute;
	background-color: rgba(77,214,255,.95);
	left: 0; right: 0; bottom: 0;
	height: 90px;
}

.u-home-btn{
	position: absolute; left: 50%; top: 50%;
	width: 60px; height: 60px;
	margin: -30px 0 0 -30px;
	background-image: url(../images/home-btn.png); background-size: 100%;
}
.u-home-btn-cover{
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	
	background-color: rgba(100,100,100,.5);
	opacity: 0;
	transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}
.u-home-btn-cover.show{
	opacity: 1;
}

.g-process-management{
	position: absolute; 
	top: 0; left: 0; right: 0; bottom: 0;
	background-image: url(../images/appBg.jpg);
	background-size: 100%;
	z-index: 1000;
	display: none;
	opacity: 0;
}

.u-process-list{
	display: block;
	position: relative;
	height: 100%;
	padding: 0 10px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.u-process-item{
	overflow: hidden;
	position: relative;
	line-height: 90px;
	margin: 10px 0;
}
.g-process-item-icon{
	position: absolute;
	left: 20px;
	top: 15px;
	height: 60px;
}
.g-process-item-name{
	margin-left: 120px; font-size: 16px;
}



