html,body{ margin: 0; width: 100%; background-color: rgb(255,255,255); position: relative; font-family: "RobotoDraft";}

@font-face
{
font-family: RobotoDraft;
src: url('font/RobotoDraft-Regular.woff');
}

/* header */
header {
  width: 100%;
  height: 100px;
  background: #00bad2;
  position: relative;
}
#user {
  width: 70px; 
  height: 70px; 
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  background-color: rgb(128,216,255);
  overflow: hidden;
}
.img-inner{
  width: 300px;
  height: 300px;
  margin: -115px 0 0 -115px;
  line-height: 300px;
  zoom:1;
  text-align: center;
  vertical-align:middle;
}
#user img {
  height: 70px;
  border: 0px;
  vertical-align:middle;
}

#user_name {
  color: #fff;
  height: 70px;
  line-height: 70px;
  font-size: 1em;
  position: absolute;
  top: 15px;
  left: 100px;
  text-decoration: none;
  overflow: hidden;
}

.wrap{
  max-width: 1340px;
  position: relative; overflow: hidden;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  margin: 0 auto;
}
@media screen and (max-width: 1000px)
{
  section{
    padding-left:0.5%;
    padding-right:0.5%;
  }
}

@media screen and (max-width: 1439px) and (min-width: 1001px)
{
  section{
    padding-left: 5%;
    padding-right: 5%;
  }
}

.menu1{
  background-color: rgb(185,246,202);
}
.menu2{
  background-color: rgb(255,255,141);
}
.menu3{
  background-color: rgb(132,255,255);
}
.menu4{
  background-color: rgb(245,245,245);
}
.menu5{
  background-color: rgb(255,138,128);
}
.menu6{
  background-color: rgb(179,136,255);
}
.menu1 .title,.menu1 .bottom-bar{
  background-color: rgb(29,233,182);
}
.menu2 .title,.menu2 .bottom-bar{
  background: rgb(255, 235, 59);
}
.menu3 .title,.menu3 .bottom-bar{
  background: rgb(3, 167, 241);
}
.menu4 .title,.menu4 .bottom-bar{
  background: rgb(153, 153, 153);
}
.menu5 .title,.menu5 .bottom-bar{
  background: rgb(255, 82, 82);
}
.menu6 .title,.menu6 .bottom-bar{
  background: rgb(126, 87, 194);
}

.menu{
  float: left;
  margin: 0.5%;
  padding-bottom: 24%;
  position: relative;
  z-index: 11;
  text-align: center;
  transition: box-shadow 0.2s ease-in;
}

.menu a{
  display: block;
}

.menu canvas{
  position: absolute; left: 0; top: 0;
  display: block; width: 100%; height: 100%;
}
.menu:hover{
  box-shadow: 2px 10px 20px 0px rgba(0, 0, 0, 0.5);
  z-index: 12;
}

/* pic */
.pic{
  position: absolute;
  height: 80%;
  top: 0; left: 0; right: 0;
  margin: 0 auto;
}
/*menu span*/
.menu .title {
  position: absolute;
  bottom: 0px;
  font-size: 1.2em;
  display: block;
  text-align: left;
  width: 100%;
  padding: 10px 0;
  text-indent: 15px;
  color: rgb(97, 97, 97);
}
.menu .title.white{
  color: rgb(255,255,255);
}

.menu .title-arrow { 
  width: 20px;
  height: 20px;
  top: 50%; margin: -10px 0 0 0;
  position: absolute;
  right: 10px;
}

@media screen and (min-width: 671px){
  .menu1{
    width: 49%;
  }
  .menu2{
    width: 24%;
  }
  .menu3{
    width: 24%;
  }
  .menu4{
    width: 24%;
  }
  .menu5{
    width: 49%;
  }
  .menu6{
    width: 24%;
  }

  .showStatus{
    transition: all 0.3s ease-in 0.6s;
  }
  .hideStatus{
    transition: all 0.3s ease-in 0s;
  }
}
@media screen and (max-width: 670px){
  header{
    position: fixed; top: 0; left: 0;
    z-index: 13;
  }
  .wrap{
    padding-top: 110px;
  }
  .menu{
    margin: 1%;
    width: 48%; 
    padding-bottom: 50%;
  }
  .menu span.title {
    font-size: 1em;
    font-weight: 900;
  }

  .showStatus{
    transition: all 0.3s ease-in 0.3s;
  }
  .hideStatus{
    transition: all 0.3s ease-in 0s;
  }
}


/* menu inner */
.menuBg{
  display: none;
  position: absolute; z-index: 10;
}
.menuBg .back{
  position: absolute; left: 10px; top: 10px; 
  width: 48px; height: 48px; cursor: pointer;
  opacity: 0;
  background: url(../img/arrow.png) no-repeat 50% 50%; background-size: 50%;
  transition: opacity 0.2s ease-in 0.9s;
}
.menuBg .back:hover{
  border-radius: 24px; background-color: rgba(255,255,255,0.5);
}

.contain-wrap{
  position: relative;
  height: 100%; width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.bottom-bar{
  width: 100%;
  height: 64px;
  position: absolute; left: 0; bottom: 0;
  transition: height 0.1s ease-in;
}
.bottom-bar .enter{
  width: 56px; height:56px; cursor: pointer;
  background: url(../img/enter.png) no-repeat 50% 50%; background-size: 25px;
  background-color:rgb(255, 255, 255);
  border-radius:28px; opacity: 0;
  position: absolute; top:-28px;right: 30px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease-in 0.9s;
}

.contain-box{
  width: 100%; height: 100%;
  position: absolute; top: 100%; left: 0;
  transition: top 0.1s ease-in 0.1s;
  overflow:scroll;
}

@media screen and (min-width: 579px){
  .contain-wrap{
    max-width: 580px;
  }
  .menu1 .contain-wrap{
    max-width: 1300px;
  }
}

/* card box */
.card-line{
  padding: 10px 20px;
}
.card-wrap{
  padding: 10px 0;
  height: 150px;
}
.card-left{
  float: left;
  width: 97%;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #d3d4d9;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.card-right{
  float: left;
  width: 3%;
  height: 100%;
  background-color: #00bad1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (min-width: 600px){
  .card-wrap{
    width: 250px;
    height: 100px;
  }
  .card-line{
    float: left;
    width: 250px;
    padding: 0 0 20px 10px; 
  }
}
