@charset "utf-8";

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#compare {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#vid {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.gesture-area {
	position: absolute;
	z-index: 10;
	bottom: 0;
}
.gesture-area:after {
	content: "";
	position: absolute;
	top: -40px;
	bottom: -40px;
	left: -40px;
	right: -40px;
	z-index: 20;
}
.scale-element {
	position: relative;
	z-index: 10;
	/* 静态图 */
	/*width: 122px;
	height: 210px;
	-webkit-background-size: 122px auto;
	background: url(../img/yellowman.png) no-repeat;*/

	/* Gif 图 */
	/*background: url(../img/babyq.gif) no-repeat;*/

	/* 雪碧图 */
	width: 100px;
	height: 100px;
	overflow: hidden;

	background: url(../img/spritesheet.png) no-repeat;
	-webkit-animation: sprites-anim 2s steps(1) infinite;
	-webkit-background-size: 100px auto;
	background-size: 100px auto;
	-webkit-transform-origin: center center;
}

.btn-change-camera {
  position: absolute;
  right: 10px;
  top: 10px;
  width:60px;
  height: 40px;
  background-color: #fff;
  border-radius: 15px;
  z-index: 999;
}
.btn-change-camare:active {
  opacity: 0.6;
}
.emotion-tag {
	position: absolute;
	left: 50%;
	top: 10px;
	font-size: 14px;
	color: #fff;
	background-color: #000;
	padding: 5px 10px;
	-webkit-transform: translateX(-50%);
}


@-webkit-keyframes sprites-anim {
	0% {
		background-position: 0 0;	
	}
	10% {
		background-position: 0 -100px;
	}
	20% {
		background-position: 0 -200px;
	}
	30% {
		background-position: 0 -300px;
	}
	40% {
		background-position: 0 -400px;
	}
	50% {
		background-position: 0 -500px;
	}
	60% {
		background-position: 0 -600px;
	}
	70% {
		background-position: 0 -700px;
	}
	80% {
		background-position: 0 -800px;
	}
	90% {
		background-position: 0 -900px;
	}
	100% {
		background-position: 0 -1000px;
	}
}

.btn-capture{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 50px;
	background-color: #fff;
	border: none;
	border-radius: 50px;
	&:active{
		opacity: 0.5;
	}
}

.capture-box{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 11;
	.capture-img{
		position: relative;
	}
}

.capture-img{
	height: 100%;
	margin: 0 auto;
    display: block;
}

.btn-recapture{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
	font-size: 18px;
    height: 44px;
    display: block;
    width: 40%;
    border: none;
    border-radius: 5px;
    background-color: #18b4ed;
    border-color: #0baae4;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#1fbaf3),to(#18b4ed));
    color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

