@charset "utf-8";

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#compare {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#vid {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.gesture-area {
	position: absolute;
	z-index: 10;
	bottom: 0;
}
.gesture-area:after {
	content: "";
	position: absolute;
	top: -40px;
	bottom: -40px;
	left: -40px;
	right: -40px;
	z-index: 20;
}
.scale-element {
	position: relative;
	z-index: 10;
	/* 静态图 */
	/*width: 122px;
	height: 210px;
	-webkit-background-size: 122px auto;
	background: url(../img/yellowman.png) no-repeat;*/

	/* Gif 图 */
	/*background: url(../img/babyq.gif) no-repeat;*/

	/* 雪碧图 */
	width: 100px;
	height: 100px;
	overflow: hidden;

	background: url(../img/spritesheet.png) no-repeat;
	-webkit-animation: sprites-anim 2s steps(1) infinite;
	-webkit-background-size: 100px auto;
	background-size: 100px auto;
	-webkit-transform-origin: center center;
}

.btn-change-camare {
  position: absolute;
  right: 10px;
  top: 10px;
  width:60px;
  height: 40px;
  background-color: #fff;
  border-radius: 15px;
  z-index: 999;
}
.btn-change-camare:active {
  opacity: 0.6;
}


@-webkit-keyframes sprites-anim {
	0% {
		background-position: 0 0;	
	}
	10% {
		background-position: 0 -100px;
	}
	20% {
		background-position: 0 -200px;
	}
	30% {
		background-position: 0 -300px;
	}
	40% {
		background-position: 0 -400px;
	}
	50% {
		background-position: 0 -500px;
	}
	60% {
		background-position: 0 -600px;
	}
	70% {
		background-position: 0 -700px;
	}
	80% {
		background-position: 0 -800px;
	}
	90% {
		background-position: 0 -900px;
	}
	100% {
		background-position: 0 -1000px;
	}
}
