body, html{width: 100%;height: 100%;margin:0; font: 12px arial,宋体,sans-serif;}
body{position: relative;}
#panoramaTree {width:100%; height: 100%; overflow: hidden;}

.bottom-wrap {width:100%; height: 115px; line-height: 115px; background-color: rgba(0,0,0,0.8); position: absolute; bottom: 0;left: 0;}
.map-wrap{ position: absolute; overflow: hidden; left: 3px; bottom: 3px; width: 300px; height: 105px; background-color: rgba(255,255,255,0.8); border: 2px solid #3D4145;
	transition: height .3s ease-in-out; -webkit-transition: height .3s ease-in-out;}
#pano_map{ position: absolute; left: -20%; bottom: -20%; width: 140%; height: 140%;}
.choice-wrap{margin-left: 310px; height: 100%; position: relative;}

#choice-left,#choice-right{position: absolute; top: 0; width: 30px; height: 115px; line-height: 115px; text-align: center;}
#choice-left{left: 0;}
#choice-right{right: 0;}
.l-arrow,.r-arrow{ display: inline-block; width: 16px; height: 16px;}
.l-arrow{ background-image: url(../images/l-arrow.png); background-position: -16px 0;}
.r-arrow{ background-image: url(../images/r-arrow.png); background-position: 0 0;}
#choice-left:hover .l-arrow{background-position: 0 0;}
#choice-right:hover .r-arrow{background-position: -16px 0;}

.choice-list-wrap{margin: 5px 30px; height: 100%; position: relative; overflow: hidden; }
#choice-list{ position: absolute; left: 0; top: 0; width: 100%;}
.choice-item{ width: 190px; height: 100px; border: 1px #000 solid; position: relative; overflow: hidden; float: left; margin: 0 3px; cursor: pointer;}
.choice-item:hover{ border-color: rgba(93,252,31,0.5);}
.choice-item .inner-img{ width: 100%; height: 100%;}
.choice-item.actived{ width: 186px; height: 96px; border: 3px solid rgba(93,252,31,0.5);}
.choice-item.actived:hover{ width: 184px; height: 94px; border: 4px solid rgba(93,252,31,0.5);}
.choice-item-title{ position: absolute; bottom: 0; left: 0; padding: 4px 20px; background-color: rgba(93,252,31,0.5); color: #fff; font-size: 14px; line-height: 120%;}

#pop-info-wrap{display: none; opacity: 0; position: absolute; right: 20px; top: 20px; width: 200px;
	transition: opacity .5s ease-in-out; -webkit-transition: opacity .5s ease-in-out;}
#pop-title,#pop-content{display: inline-block; font-size: 14px; margin: 10px 0; padding: 10px 15px; color: #fff; background-color: rgba(27,181,24,0.8);}
#pop-title{padding: 10px 20px;}
#pop-more{ display: block; font-size: 14px; text-align: center; margin: 10px 0; padding: 10px 0; color: #fff; background-color: rgba(27,181,24,0.8);  text-decoration: none;
	transition: background-color .3s ease-in-out; -webkit-transition: background-color .3s ease-in-out; }
#pop-more:hover{background-color: rgba(33,244,28,0.8);}

#pop-icon{ display: none; opacity: 0; position: absolute; top: 60%; left: 50%; width: 20px; height: 20px; margin-left: -10px; background-image: url(../images/pano-tree.png);
	transition: opacity .5s ease-in-out; -webkit-transition: opacity .5s ease-in-out;}

#get-info{ position: absolute; right: 10px; bottom: 200px;  display: block; font-size: 14px; padding: 10px 20px; color: #fff; background-color: rgba(27,181,24,0.8); cursor: pointer;
	transition: background-color .3s ease-in-out; -webkit-transition: background-color .3s ease-in-out;}
#get-info:hover{background-color: rgba(33,244,28,0.8);}

