.wrap-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.text-changing{
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.15;
}

.text-changing span {
  display: inline-block;
  vertical-align: middle;
}


.cursor::before {
  content: '_';
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}
